<html>

<head>
    <title>{% block titulo%} {% endblock titulo %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    {% csrf_token %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand active" href="/">Início <span class="sr-only">(current)</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/alunos"> Alunos </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/transacoes"> Transações </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/postTransacao"> POST TESTE </a>
                </li>
            </ul>
        </div>
    </nav>

    {% block conteudo%}

    {% endblock %}

    <hr>
    <h6 class="text-center">Copyright 2018 Gabriela Almeida - Todos os direitos reservados</h6>
</body>

</html>