<!-- Modal Novo Aluno -->
<form method="POST" action="/salvarAluno">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoAlunoModal"> <i class="far fa-user"></i> Cadastrar Aluno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" name="nomeAtual" id="nomeAtual" placeholder="Nome"
                            value="{{aluno.nome}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" name="matriculaAtual" id="matriculaAtual" placeholder="Matrícula"
                            value="{{aluno.matricula}}" required>
                    </div>
                    <!--<div class="form-group col-md-4">
                        <input type="text" class="form-control" name="cursoId" id="cursoId" placeholder="CursoId" value="{{cursoId}}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="creditoId" id="creditoId" placeholder="CreditoId" value="{{creditoId}}" required>
                    </div>
                     <div class="form-group col-md-6">
                        <select class="form-control" id="cbxCurso">
                            <option>Selecione o Curso...</option>
                            {% for curso in cursos %}
                            <option value="{{curso.id}}">{{ curso.nome }}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                </div>
                <!--<div class="form-row">
                     <div class="form-group col-md-6">
                        <select class="form-control" id="cbxCredito">
                            <option>Selecione o Crédito...</option>
                            {% for credito in creditos %}
                            <option>{{ curso.nome }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="form-group col-md-12">
                        <select class="form-control" id="cbxCurso">
                            <option>Selecione a Disciplina...</option>
                            {% for disciplina in disciplinas %}
                            <option value="{{disciplina.id}}">{{ disciplina.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>