<!-- Modal Editar Aluno -->
<form method="POST" action="/editarAluno/{{aluno.id}}">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="far fa-user"></i> Alterar Aluno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" name="nomeAtual" id="nomeAtual" placeholder="Nome"
                            value="{{aluno.nome}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input readonly type="text" class="form-control" name="matriculaAtual" id="matriculaAtual" placeholder="Matrícula"
                            value="{{aluno.matricula}}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</form>