<!-- Modal Ver Aluno -->
<form method="POST" action="/obterAluno/{{aluno.id}}">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verAlunoModal"> <i class="far fa-user"></i> Vizualizar Aluno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Nome: {{aluno.nome}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Matrícula: {{aluno.matricula}}</label>
                        <!-- </div>
                    <div class="form-group col-md-6">
                        <label>Curso: </label>
                    </div> -->
                    </div>
                    <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Crédito: </label>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Disciplinas: </label>
                    </div>
                </div> -->

                </div>
            </div>
        </div>
</form>